.alert {
    width: 250px;
    background-color: #404040;
    padding: 15px 30px;
    color: #fff;
    margin-right: 20px;
    border: 3px solid #404040;
}

.alert:last-child {
    margin-right: 0;
}

.alert--success {
    border: 3px solid #73a000;
    color: #73a000;
}

.alert__body:has(> .bx) {
    position: relative;
    padding-left: 30px;
}

.alert__body .bx {
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: -10px;
    transform: translateY(-50%);
}

.alert--error {
    border: 3px solid #a54514;
    color: #a54514;
}

.alert--disabled {
    border: 3px solid #363636;
    background-color: #363636;
    color: #6c6c6c;
    user-select: none;
}