.tabs-container {
    display: flex;
    width: 520px;
    background-color: #393939;
    border-radius: 15px 15px 0 0 ;
}

.tabs-container__item {
    text-align: center;
    width: calc(100% / 4);
    padding: 10px;
    color: #fff;
    font-weight: bold;
}

.tabs-container--active {
    background-color: #4d5354;
    border-radius: 15px 15px 0 0;
}